<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Sign</title>
</head>
<body>
<label th:value="${message}"></label>
<form action="http://localhost:8081/authorisation/registration" method="get">
    <button type="submit">Перейти к регистрации</button>
</form>
<form method="post">
    <input name="login" type="text" placeholder="login"/>
    <input name="password" type="text" placeholder="password">
    <button type="submit">Войти</button>
</form>
</body>
</html>